    .offline {
        color: red;
        font-weight: bold;
    }
    
    .serverLinkActive {
        color: red;
        font-weight: bold;
        background-color: #eee;
    }
    
    a.list-group-item:focus,
    a.list-group-item:hover,
    button.list-group-item:focus,
    button.list-group-item:hover {
        color: red;
        text-decoration: none;
        background-color: #f5f5f5;
    }